header{
    text-align: center;
}
footer{
    text-align: center;
}
form{
    text-align: center;
}
#menu{
    background-color: aqua;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}